<div class="w-100 navbar navbar-expand-sm navbar-lewagon justify-content-between">
  <div class="container-fluid">
    <h1>👋</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a href="https://www.behance.net/martindefrutosdesign" class="nav-link">Projects</a>
        </li>
        <li class="nav-item">
          <a href="https://medium.com/@martindfru" class="nav-link">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="wrap" class="banner">
  <div class="cont">
    <h1 class="w-75 text-left m-auto">Martin de Frutos</h1>
    <br>
    <br>
    <p class="w-75 text-left m-auto">Multidisciplinary designer & developer based in Berlin, Co-founder of <a href="http://www.obst.digital">Obst Digital</a> & teacher <a href="http://www.lewagon.com">@LeWagon Coding Bootcamp</a>. Travels the world giving workshops and sharing my love for digital design.</p>
  </div>
</div>
  <div class="column-container">
      <div  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/artyque.png');     background-size: cover;" class="column c-1">
        <a href="https://www.behance.net/gallery/90144927/ARTYQUE" target="_blank">
          <p>Artyque - Web Development</p>
          </a>
        </a>
      </div>
  <div style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/ford.png');     background-size: cover;" class="column c-2">
    <a href="https://www.behance.net/gallery/57285761/Ford-Webstore" target="_blank">
    <p>Ford Webstore - UX/UI Design</p>
    </a>
  </div>
  <div style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/hamaca.png');     background-size: cover;" class="column c-3">
    <a href="https://www.behance.net/gallery/57284579/Hamaca-20" target="_blank">
    <p>Hamaca - Branding</p>
    </a>
  </div>
  <div style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/ford2.png');     background-size: cover;" class="column c-4">
    <a href="https://www.behance.net/gallery/59039297/Ford-Illustrated-Visuals" target="_blank">
    <p>
  Ford Illsutrations - Graphic Design</p>
</a></div>
</div>
<br>
<br>
<div data-aos="fade-up" class="cta w-75 text-left m-auto">
  <a href="https://www.behance.net/martindefrutosdesign" class=""><p>See all Projects<i class="fas fa-arrow-right"></i></p></a>
</div>
<div class="banner">
  <div class="cont cta">
    <h1 data-aos="fade-up" class="w-75 text-left m-auto">What I do</h1>
    <br>
    <br>
    <p data-aos="fade-up"  class="w-75 text-left m-auto">I am always learning new things, but this are things I feel im pretty good at:
    <br>
    <br>
    Branding, Prototyping & U/X, Landing Page Design, Graphic Design, Websites & Apps Development, User Stories, Design Sprints, Content Development.</p>
    <br>
    <p data-aos="fade-up" class="social w-75 text-left m-auto"><a href="https://www.linkedin.com/in/martin-de-frutos-20619b95/">Full Resume<i class="fas fa-arrow-right"></i></a></p>
  </div>
</div>
<div data-aos="fade-up"  style="background-position: center; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/obsty.jpg');     background-size: cover;" class="sub-banner">
  <div class="cont">
    <h1>People In Beta</h1>
    <p class="contw">People in beta #6: Obst Digital, Not-Your-Typical Full-Stack Developers</p>
    <div class="cta cta2 text-left m-auto">
  <a href="https://www.betahaus.com/magazine/people-in-beta-obst-digital" class=""><p>Read Story<i class="fas fa-arrow-right"></i></p></a>
</div>
  </div>
</div>
